.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.table-container {
    flex: 1; /* Takes remaining space */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    border: none;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-width: 150px;
}

td {
    word-break: break-word;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Pagination styles */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

.pagination button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #f5f5f5;
}

.pagination button:disabled {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

.pagination .page-info {
    margin: 0 10px;
}

pre {
    margin: 0;
    padding: 0;
}

pre code {
    display: block;
    padding: 1em;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    font-family: "Courier New", Courier, monospace;
}

/* Custom scrollbar */
pre code::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

pre code::-webkit-scrollbar-track {
    background: #282c34;
}

pre code::-webkit-scrollbar-thumb {
    background: #454c59;
    border-radius: 4px;
}

pre code::-webkit-scrollbar-thumb:hover {
    background: #555f6f;
}
